Repository DrJanDuffy/centennialhillshomesforsale: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, type-check, eslint-check

biome-check:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

type-check:
  run: npx tsc --noEmit --project tsconfig.json
  stage_fixed: false

eslint-check:
  run: npx eslint --no-eslintrc --config .eslintrc.json {staged_files} || echo "ESLint check completed"
  stage_fixed: false

🔧 Apply Biome fixes and optimizations across all components and scripts
  components/AdvancedSEOOptimizer.tsx
  components/AdvancedSearch.tsx
  components/BreadcrumbNavigation.tsx
  components/EnhancedPropertySearch.tsx
  components/EnhancedSEO.tsx
  components/FAQSection.tsx
  components/HyperLocalHero.jsx
  components/KCMFeed.tsx
  components/ModernTestimonials.tsx
  components/OptimizedImage.tsx
  components/PerformanceMonitor.tsx
  components/ServiceWorkerRegistration.tsx
  components/StatisticalWidget.tsx
  components/rss/InsightCard.jsx
  components/rss/InsightCard.tsx
  components/rss/MarketInsightsWidget.jsx
  components/rss/PerformanceDashboard.jsx
  lib/follow-up-boss.ts
  lib/rss-parser.ts
  lib/rss-utils.ts
  pages/404.tsx
  pages/community-events.tsx
  public/sw.js
  scripts/analyze-bundle.js
  scripts/biome-expert-optimize.js
  scripts/bundle-analyzer.js
  scripts/image-optimizer.js
  scripts/setup-vercel.js
  scripts/validate-404-fixes.js
Due: biome-check, type-check, eslint-check

🔧 Fix GitHub Actions workflow: Add missing security job and fix deployment triggers
  .github/workflows/code-quality.yml
Due: none

🔧 Fix PerformanceMonitor TypeScript errors for deployment
  components/PerformanceMonitor.tsx
Due: biome-check, type-check, eslint-check

🔧 Fix TypeScript error: Add missing accountId property to FollowUpBossAPI
  lib/follow-up-boss.ts
Due: biome-check, type-check, eslint-check

🔧 Fix variable hoisting issue in HyperLocalHero component
  components/HyperLocalHero.jsx
Due: biome-check, eslint-check

🎨 Enhanced HyperLocalHero component formatting and PerformanceMonitor fixes
  components/HyperLocalHero.jsx
  components/PerformanceMonitor.tsx
Due: biome-check, type-check, eslint-check

🚀 Phase 2 Core Enhancements: Modern Design System, Dark Mode, Enhanced Hero, Navigation & Footer
  components/EnhancedFooter.tsx
  components/EnhancedHero.tsx
  components/EnhancedNavigation.tsx
  components/InteractiveTestimonials.tsx
  components/Layout.tsx
  components/ThemeToggle.tsx
  contexts/ThemeContext.tsx
  pages/_app.tsx
  pages/index.tsx
  styles/globals.css
Due: biome-check, type-check, eslint-check

🔧 Fix Layout component interface to resolve build errors
  components/EnhancedFooter.tsx
  components/EnhancedHero.tsx
  components/EnhancedNavigation.tsx
  components/InteractiveTestimonials.tsx
  pages/blog.tsx
  pages/buyers.tsx
  pages/featured-home.tsx
  pages/index.tsx
  pages/listings.tsx
Due: biome-check, type-check, eslint-check

🔧 Fix remaining Layout component interface issues
  pages/blog.tsx
  pages/market-insights.tsx
  pages/properties.tsx
  pages/taskmaster.tsx
Due: biome-check, type-check, eslint-check

🚀 Phase 3 Advanced Enhancements: Advanced Property Search, Enhanced Contact Form, Custom 404 Page, and Comprehensive Documentation
  README.md
  components/AdvancedPropertySearch.tsx
  components/EnhancedContactForm.tsx
  pages/404.tsx
  pages/_document.tsx
  public/js/property-map.js
Due: biome-check, type-check, eslint-check

🎨 Phase 4 Final Polish: Comprehensive Image Optimization System - OptimizedImage Component, Image Utilities, Gallery Structure, and Performance Documentation
  components/OptimizedImage.tsx
  docs/IMAGE_OPTIMIZATION.md
  public/assets/images/property-gallery/index.json
  utils/imageOptimization.ts
Due: biome-check, type-check, eslint-check

Add comprehensive interior photos integration system throughout website
  INTERIOR-PHOTOS-SETUP.md
  components/EnhancedNavigation.tsx
  components/InteriorPhotoGallery.tsx
  components/SimpleInteriorGallery.tsx
  pages/about.tsx
  pages/api/cloudflare/dns.ts
  pages/index.tsx
  pages/interior-photos.tsx
  pages/properties.tsx
  public/assets/images/interior-photos/index.json
  test-cloudflare-api.js
  utils/interiorPhotos.ts
Due: biome-check, type-check, eslint-check

Fix build error: Remove problematic InteriorPhotoGallery component, use SimpleInteriorGallery only
  components/InteriorPhotoGallery.tsx
  components/SimpleInteriorGallery.tsx
  pages/about.tsx
  pages/interior-photos.tsx
  utils/interiorPhotos.ts
Due: biome-check, type-check, eslint-check

fix: install commitlint and remove interior photo gallery
  commitlint.config.js
  package-lock.json
  package.json
Due: biome-check, eslint-check

fix: disable local build check in lefthook
  lefthook.yml
Due: none

fix: disable performance check that includes build step
  lefthook.yml
Due: none

fix: remove domain redirects causing vercel domain issues
  vercel.json
Due: biome-check

fix: resolve redirect loop and dns configuration
  check-dns-config.js
  clear-cloudflare-cache.js
  components/SimpleInteriorGallery.tsx
  fix-dns-config.js
  fix-redirect-loop.js
  improve-cloudflare-setup.js
  public/assets/images/interior-photos/index.json
  update-interior-photos.js
  utils/interiorPhotos.ts
Due: biome-check, type-check, eslint-check

fix: canonicalize to www via vercel host redirect
  fix-redirect-loop.js
  middleware.js
  vercel.json
Due: biome-check, eslint-check

Path conditions:
  biome-check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  type-check: any of: *.{ts,tsx,d.cts,d.mts}
  eslint-check: any of: *.{js,ts,jsx,tsx}
