Repository DrJanDuffy/centennialhillshomesforsale: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, type-check, eslint-check

biome-check:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

type-check:
  run: npx tsc --noEmit --project tsconfig.json
  stage_fixed: false

eslint-check:
  run: npx eslint --no-eslintrc --config .eslintrc.json {staged_files} || echo "ESLint check completed"
  stage_fixed: false

Fix TypeScript error in SocialProofEngine
  components/SocialProofEngine.tsx
  next.config.js
Due: biome-check, type-check, eslint-check

Force Vercel to use latest commit with TypeScript fixes
  next.config.js
Due: biome-check, eslint-check

Fix gtag TypeScript error in analytics
  utils/analytics.ts
Due: biome-check, type-check, eslint-check

Fix AnalyticsTracker mock instance TypeScript error
  utils/analytics.ts
Due: biome-check, type-check, eslint-check

Fix AnalyticsTracker mock with complete interface
  utils/analytics.ts
Due: biome-check, type-check, eslint-check

Simplify conversion optimization system
  components/ConversionOptimizer.tsx
  utils/analytics.ts
Due: biome-check, type-check, eslint-check

feat: enhanced faq page with comprehensive content and tailwind css
  components/SmartPropertyRecommendations.tsx
  pages/faq.tsx
Due: biome-check, type-check, eslint-check

fix: add global gtag function declaration for typescript
  types/global.d.ts
Due: biome-check, type-check, eslint-check

fix: update gtag usage to use window.gtag for proper typescript support
  utils/analytics.ts
Due: biome-check, type-check, eslint-check

fix: improve homepage accessibility and code quality with biome
  pages/index.tsx
Due: biome-check, type-check, eslint-check

fix: resolve svg accessibility and button type issues across components
  components/Footer.tsx
  components/Header.tsx
  components/RealScoutListings.tsx
  pages/404.tsx
Due: biome-check, type-check, eslint-check

fix(realscout): single script load and production verify loop
  components/RealScoutOfficeListings.tsx
  components/home/HomePageEnhancements.tsx
  package.json
  pages/_document.tsx
  scripts/verify-realscout.mjs
Due: biome-check, type-check, eslint-check

fix(build): add postcss config and deploy-verify loop
  .github/workflows/deploy-production.yml
  .github/workflows/deploy.yml
  .github/workflows/vercel-deploy.yml
  package.json
  postcss.config.js
  scripts/verify-deploy.mjs
Due: biome-check, eslint-check

chore: apply org git standards (CLAUDE.md, loops, CI, dependabot)
  .claude/LOOPS.md
  .claude/commands/babysit.md
  .claude/commands/commit-push-pr.md
  .claude/commands/nate-situation-brief.md
  .claude/commands/plan-then-build.md
  .claude/commands/post-merge-sweeper.md
  .claude/commands/pr-pruner.md
  .claude/commands/seo-audit-loop.md
  .claude/commands/verify-loop.md
  .claude/settings.json
  .github/.github/ISSUE_TEMPLATE/bug_report.md
  .github/.github/ISSUE_TEMPLATE/feature_request.md
  .github/.github/dependabot.yml
  .github/.github/pull_request_template.md
  .github/.github/workflows/ci.yml
  .github/.github/workflows/sync-standards.yml
  .pre-commit-config.yaml
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  commitlint.config.mjs
Due: biome-check

fix: flatten nested .github directory from standards apply
  .github/.github/ISSUE_TEMPLATE/bug_report.md
  .github/.github/ISSUE_TEMPLATE/feature_request.md
  .github/.github/dependabot.yml
  .github/.github/pull_request_template.md
  .github/.github/workflows/ci.yml
  .github/.github/workflows/sync-standards.yml
Due: none

chore: add org standards github templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/sync-standards.yml
Due: none

feat: add fair housing scan for cerebras drafts
  lib/fair-housing-scan.ts
Due: biome-check, type-check, eslint-check

feat: add cerebras draft helper for site chat
  lib/cerebras-draft.ts
Due: biome-check, type-check, eslint-check

feat: add ai-chat route backed by cerebras
  pages/api/ai-chat.ts
Due: biome-check, type-check, eslint-check

feat: serve /api/perplexity from cerebras drafts
  pages/api/perplexity.ts
Due: biome-check, type-check, eslint-check

feat: mount site chat box in layout
  components/Layout.tsx
Due: biome-check, type-check, eslint-check

feat: document cerebras api key in env example
  .env.example
Due: none

feat: add cerebras-service and cloud sdk deps
  package.json
Due: biome-check

feat: externalize cerebras packages in next config
  next.config.js
Due: biome-check, eslint-check

fix: restore radix label to 2.1.7
  package.json
Due: biome-check

feat: use 702-222-1964 and drop school prompts
  components/AIRealEstateChat.tsx
Due: biome-check, type-check, eslint-check

Path conditions:
  biome-check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  type-check: any of: *.{ts,tsx,d.cts,d.mts}
  eslint-check: any of: *.{js,ts,jsx,tsx}
